from aws_cdk import (
    NestedStack,
    RemovalPolicy,
    aws_ec2 as ec2,
    aws_s3 as s3,
    aws_route53 as route53,
    aws_route53_targets as targets
)
from constructs import Construct

class VPNStack(NestedStack):

    def __init__(self, scope: Construct, construct_id: str, **kwargs) -> None:
        super().__init__(scope, construct_id, **kwargs)

        # Create VPC
        my_vpc = ec2.Vpc(
            self, "KubernetesVpc",
            nat_gateways=0,
            max_azs=1,  # Default is all AZs in region
            subnet_configuration=[
                ec2.SubnetConfiguration(
                    name="PublicSubnet",
                    subnet_type=ec2.SubnetType.PUBLIC,
                    cidr_mask=24
                ),
                ec2.SubnetConfiguration(
                    name="PrivateWithEgressSubnet",
                    subnet_type=ec2.SubnetType.PRIVATE_WITH_EGRESS,
                    cidr_mask=24
                )
            ]
        )

        keyPair = ec2.KeyPair.from_key_pair_attributes(self, "KeyPair",
            key_pair_name="KubernetesKeyPair",
            type=ec2.KeyPairType.RSA
        )

        domain_name = "russest3-example.local"

        # Create an S3 bucket for static website hosting
        website_bucket = s3.Bucket(self, "WebsiteBucket",
            bucket_name="russest3-example.local",
            public_read_access=True,
            website_index_document="index.html",
            removal_policy=RemovalPolicy.DESTROY,
            block_public_access=s3.BlockPublicAccess(block_public_acls=False,
                                                      block_public_policy=False,
                                                      ignore_public_acls=False,
                                                      restrict_public_buckets=False)
        )

        # Create a Route 53 Hosted Zone
        hosted_zone = route53.HostedZone(self, "ExampleComHostedZone",
            zone_name=domain_name
        )

        # Create an A record to point to the S3 bucket website endpoint
        route53.ARecord(self, "AliasRecord",
            zone=hosted_zone,
            target=route53.RecordTarget.from_alias(targets.BucketWebsiteTarget(website_bucket)),
            region="{{ region_name }}"
        )

        # Retrieve certificate arns
        server_cert_arn = "{{ _server_cert_arn }}"
        client_cert_arn = "{{ _client_cert_arn }}"

        # Create a Client VPN endpoint
        client_vpn_endpoint = ec2.CfnClientVpnEndpoint(self, "ClientVpnEndpoint",
            authentication_options=[{
                "type": "certificate-authentication",
                "mutualAuthentication": {
                    "clientRootCertificateChainArn": client_cert_arn
                }
            }],            
            client_cidr_block="10.100.0.0/22",
            connection_log_options={
                "enabled": False
            },
            server_certificate_arn=server_cert_arn,
            vpn_port=443,
            transport_protocol="tcp",
            description="Client VPN endpoint for secure remote access",
            split_tunnel=True,
            vpc_id=my_vpc.vpc_id,
            dns_servers=["8.8.8.8", "8.8.4.4"],
        )

        cfn_client_vpn_target_network_association = ec2.CfnClientVpnTargetNetworkAssociation(self, "MyCfnClientVpnTargetNetworkAssociation",
            client_vpn_endpoint_id=client_vpn_endpoint.attr_id,
            subnet_id=str(my_vpc.select_subnets(subnet_group_name="PrivateWithEgressSubnet"))
            # subnet_id=
            # This aint working
        )

        # Create authorization rule
        client_vpn_endpoint.add_authorization_rule(self, "Rule",
            cidr="10.0.10.0/32",             
        )